<h1>Flights Booking</h1>

<%= form_tag('/flights', method: 'get') do %>
	<p> 
	From airport: <%= select_tag(:start_airport, options_for_select(@airports)) %>
	</p>
	<p> 
	To airport: <%= select_tag(:finish_airport, options_for_select(@airports)) %>
	</p>
	<p>
	Date: <%= select_tag(:date, options_for_select(@flight_dates)) %>	
	</p>
	<p>
	Tickets: <%= select_tag(:tickets, options_for_select(@number_of_tickets)) %>	
	</p>
	<p>
	<%= submit_tag('Search') %>	
	</p>
<% end %>

<% unless @search.nil? %>
	<ul>
		<% @search.each do |result| %>
			<li>
			From:<%= result.from_airport.code %> To: <%= result.to_airport.code %>
			</li>
		<% end %>
	</ul>
<% end %>